/* fonts */

div.jqcloud {
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: calc(2.1em + 2.1vw) }
div.jqcloud span.w9 { font-size: calc(2.0em + 2.0vw) }
div.jqcloud span.w8 { font-size: calc(1.9em + 1.9vw) }
div.jqcloud span.w7 { font-size: calc(1.8em + 1.8vw) }
div.jqcloud span.w6 { font-size: calc(1.6em + 1.6vw) }
div.jqcloud span.w5 { font-size: calc(1.4em + 1.4vw) }
div.jqcloud span.w4 { font-size: calc(1.2em + 1.2vw)}
div.jqcloud span.w3 { font-size: calc(1.0em + 1.0vw) }
div.jqcloud span.w2 { font-size: calc(0.8em + 0.8vw) }
div.jqcloud span.w1 { font-size: calc(0.6em + 0.6vw) }

/* colors */

div.jqcloud { color: #09f; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: rgb(0, 255, 110); }
div.jqcloud a:hover { color: rgb(255, 200, 0); }
div.jqcloud span.w10 { color: #0cf; }
div.jqcloud span.w9 { color: #0cf; }
div.jqcloud span.w8 { color: #0cf; }
div.jqcloud span.w7 { color: #39d; }
div.jqcloud span.w6 { color: #90c5f0; }
div.jqcloud span.w5 { color: #90a0dd; }
div.jqcloud span.w4 { color: #90c5f0; }
div.jqcloud span.w3 { color: #a0ddff; }
div.jqcloud span.w2 { color: #99ccee; }
div.jqcloud span.w1 { color: #aab5f0; }

.over { background-color: rgb(188, 238, 156) !important; }


/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }